.top{
    padding: 30px;
    text-align: center;
}

img{
    margin-top: 10px;
    height: 150px;
    width: 100%;
}

.section-1{
    padding-top: 55px;
    background-color: floralwhite;
 }

.container{
     margin-left: 0;
     margin-right: 0;
 }


.todo-notes{
    display: grid;
    grid-gap: 3rem;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
 
 .todo-info{
    padding: 1rem;
    box-shadow: 0px 3px 50px #f0fce2;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
 }

 .status{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }