.top{
    padding: 30px;
    text-align: center;
}

img{
    margin-top: 10px;
    height: 150px;
    width: 100%;
}

.section-1{
    font-family: 'Mulish', sans-serif;
    padding-top: 55px;
    background-color: floralwhite;
 }

 .tasks{
    font-family: 'Noto Sans JP', sans-serif;
 }

.todo-list{
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    max-width: 680px;
    margin:auto;
    border-bottom: 1px solid grey;
}

svg:hover{
    cursor: pointer;
}